importFrom(outliers, grubbs.test, dixon.test, pgrubbs)
importFrom(quantreg, rqss, qss, nlrq, rq)
importFrom(pcaPP, PCAproj)

import(MatrixModels)
import(graphics)
import(methods)

export(odm, odm.control, rgrubbs.test) 
exportClasses(OutlierDM)
exportMethods(show, summary, plot, input, output, outliers, oneplot) 
